* {
	margin:0;
	padding:0;
}
body {
	background:#ffffff url('../../../20170902145838im_/http_/www.catolicosalerta.com.ar/images/bg.png') repeat-x scroll top left;
	margin:0 auto;
	padding:0;
	padding-top:30px;
	font-family:Arial, Helvetica, sans-serif;
}


/* wrapper */
div#wrap {
	width:90%;
	margin:0 auto;
	padding:0 10px;
}


/* header & nav */
div.header {
	margin:0 auto;
}
div.title {
	float:left;
	width:25%;
}
div.nav {
	width:90%;
	float:right;
	padding:40px 0 0 0;
	margin:0;
}
div.nav ul {
	list-style:none;
	float:right;
	padding:0 0 0 50px;
	margin:-10px 0 0 50px;
}
div.nav ul li {
	display:inline;
	float:left;
}
div.nav ul li a, div.nav ul li a:visited, div.nav ul li a:hover {
	float:left;
	margin:0 20px;
	text-decoration:none;
	color:#ffffff;
	font-weight:normal;
	font-size:0.9em;
	font-family:Arial, Helvetica, sans-serif;
	padding:0;
	border-bottom:1px solid #fff;
}


/* headers */
h1, h2 {
	text-align:left;
	color:#fff;
}
h1 {
	font-size:3em;
	padding-left:10px;
	font-family:Georgia, "Times New Roman", Times, serif;
}
h1 a, h1 a:hover, h1 a:visited {
	text-decoration:none;
	color:#ffffff;
}
h2 {
	padding:0 0 10px 10px;
	font-size:0.9em;
	font-family:Georgia, "Times New Roman", Times, serif;
}
h3 {
	margin-bottom:20px;
	line-height:1.7em;
	font-size:0.95em;
	color:#900000;
	padding:0;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:normal;
	margin:0 50px;
}
h4 {
	color:#7F0000;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:1.4em;
	font-weight:normal;
	padding:5px;
	background-color:#e6e6e6;
	border-bottom:1px solid #cccccc;
}

h5 {
	color:#33333;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	margin:0 150px;
}

h6 {
	margin-bottom:20px;
	line-height:1.7em;
	font-size:0.95em;
	color:#333333;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	margin:0 35px;
}

/* element defaults */
p {
	margin-bottom:20px;
	line-height:1.7em;
	font-size:1em;
	color:#333333;
}
ul {
	padding:0 0 20px 35px;
}
code {
	border:1px solid #7D0000;
	border-left-width:10px;
	display:block;
	padding:10px;
	margin:10px 0;
}

/* default forms */
form {}
form input, form textarea {
	border:2px solid #dddddd;
	padding:5px;
	color:#666666;
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.95em;
}
form input.formbutton {
	background:#8D0000 url('../../../20170902141922im_/http_/www.catolicosalerta.com.ar/images/button.png') repeat-x scroll top left;
	color:#ffffff;
	font-size:0.9em;
	border:1px solid #5E0000;
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

/* default tables */ 
table {
	width:100%;
	margin-bottom:10px;
}
table tr th, table tr td {
	padding:5px 10px; 
}
table tr th {
	background:#8D0000 url('../../../20170902141922im_/http_/www.catolicosalerta.com.ar/images/button.png') repeat-x scroll top left;
	color:#ffffff;
}
table tr td {
	border-bottom:1px solid #dddddd;
}


/* default links */
a { 
	color:#700000;
}
a:visited { 
	color:#CC3300;
} 
a:hover { 
	color:#870000; 
}
	

/* centeral page */
div.pagewrapper {
	margin:0 auto;
	background-image:url('../../../20170902143806im_/http_/www.catolicosalerta.com.ar/images/wrap-bg-right.png');
	background-repeat:repeat-y;
	background-position:top right;
}
div.innerpagewrapper {
	background-image:url('../../../20170902175932im_/http_/www.catolicosalerta.com.ar/images/wrap-bg-left.png');
	background-repeat:repeat-y;
	background-position:top left;
}
div.page {
	margin:0 10px;
	background-color:#ffffff;
	padding:10px 10px;
}
div.page ul {
	list-style-image:url('../../../20170902135119im_/http_/www.catolicosalerta.com.ar/images/bullet.png');
	font-size:0.95em;
}
div.page ul li {
	padding:3px 0;
}


/* content */
div.content {
	width:68%;
	float:left;
}


/* sidebar */
div.sidebar {
	width:30%;
	float:right;
}
div.sidebar ul {
	list-style:none;
	list-style-image:none;
	padding:10px 10px 25px 10px;
}
div.sidebar ul li {
	padding:7px 0;
}
div.sidebar ul li a {
	font-family:Georgia, "Times New Roman", Times, serif;
	text-decoration:none;
	font-size:1.1em;
}

/* footer */
div.footer {
	clear:both;
	margin-top:10px;
	border-top:1px solid #dddddd;
}
div.footer p {
	text-align:center;
	color:#999999;
	font-size:0.7em;
	font-family:"Trebuchet MS", Verdana, Arial;
}
div.footer p a {
	color:#999999;
}

/* search form */
form.searchform {
	padding-top:10px;
}


/* misc classes */
*:focus {
	outline:none;
}
.clear {
	clear:both;
}
/*
     FILE ARCHIVED ON 15:01:47 Aug 25, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:37:36 Oct 03, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 98.704
  exclusion.robots: 0.192
  exclusion.robots.policy: 0.133
  cdx.remote: 0.064
  esindex: 0.01
  LoadShardBlock: 69.431 (3)
  PetaboxLoader3.datanode: 111.787 (5)
  load_resource: 523.757 (2)
  PetaboxLoader3.resolve: 434.226 (2)
*/